node_modules
dist
api/node_modules
api/dist
/src
/public
/index.html
/components.json
/postcss.config.js
/tailwind.config.ts
/vite.config.ts
/tsconfig.app.json
/tsconfig.node.json
/tsconfig.json
/eslint.config.js
/vercel.json
/bun.lockb
/package-lock.json
/package.json
.env
.env.*
!.env.example
api/.env
api/.env.*
/supabase
/*.md
